/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background-image: url("assets/1154.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
