<div class="search position-relative mb-5">
    <input [(ngModel)]="inputValue" (keyup)="getData(pageIndex)" type="text" class="w-100 h-100" placeholder="What Movie you want to watch ... " value="">
    <button>Find</button>
</div>
<div *ngIf="!allmovies[0] && inputValue" class="alert alert-danger w-75 m-auto">
    <p>No movies found</p>
</div>
<div class="container mt-5">
    <div class="row">
        <div [routerLink]="['/movie', Movie.id]" *ngFor="let Movie of allmovies" class="col-3 mb-2">
            <div class="movie">
                <img [src]="'https://image.tmdb.org/t/p/w500/' + Movie.poster_path" class="w-100" alt="No page found">
                <h5 class="text-light">{{Movie.title}}:</h5>
                <p class="text-light">{{Movie.overview| slice:0:100}} ....</p>
            </div>
        </div>
    </div>
</div>
<mat-paginator
  [length]="data?.total_results"
  [pageSize]="20"
  
  (page)="onPageChange($event)"
></mat-paginator>